.stars-container {
	width: 100%;
}

.divStar {
	width: 20%;
	padding-bottom: 20%;
	height: 0;
	float: left;
	position: relative;
}

.divStar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	z-index: 3;
}

.fillSquare, .fillInitialBG {
	position: absolute;
	top: 0;
	left: 0;
	width: 98%;
	height: 98%;
}

.fillSquare {
	z-index: 2;
}